/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/* line 18, /home/ubuntu/workspace/review_check/app/assets/stylesheets/application.scss */
html {
  height: 100%;
}

/* line 22, /home/ubuntu/workspace/review_check/app/assets/stylesheets/application.scss */
body {
  height: 100%;
  margin: 0;
}

/* line 27, /home/ubuntu/workspace/review_check/app/assets/stylesheets/application.scss */
.content {
  height: 100%;
}
/* line 30, /home/ubuntu/workspace/review_check/app/assets/stylesheets/application.scss */
.content .result {
  height: 100%;
}
/* line 33, /home/ubuntu/workspace/review_check/app/assets/stylesheets/application.scss */
.content .result p {
  margin: 0;
}
/* line 37, /home/ubuntu/workspace/review_check/app/assets/stylesheets/application.scss */
.content .result .info {
  height: 10%;
}
/* line 41, /home/ubuntu/workspace/review_check/app/assets/stylesheets/application.scss */
.content .result .image {
  float: left;
}
/* line 45, /home/ubuntu/workspace/review_check/app/assets/stylesheets/application.scss */
.content .result #price {
  color: red;
  font-size: 20px;
}
