/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/* line 18, /home/ubuntu/workspace/review_check/app/assets/stylesheets/application.scss */
html {
  height: 100%;
}
/* line 21, /home/ubuntu/workspace/review_check/app/assets/stylesheets/application.scss */
html #iteminfo {
  visibility: hidden;
}

/* line 26, /home/ubuntu/workspace/review_check/app/assets/stylesheets/application.scss */
body {
  height: 100%;
  margin: 0;
}

/* line 31, /home/ubuntu/workspace/review_check/app/assets/stylesheets/application.scss */
.content {
  height: 100%;
  margin: 0;
}
/* line 35, /home/ubuntu/workspace/review_check/app/assets/stylesheets/application.scss */
.content a {
  text-decoration: none;
  color: black;
}
/* line 40, /home/ubuntu/workspace/review_check/app/assets/stylesheets/application.scss */
.content .result {
  height: 100%;
  margin: 0;
}
/* line 44, /home/ubuntu/workspace/review_check/app/assets/stylesheets/application.scss */
.content .result p {
  margin: 0;
}
/* line 48, /home/ubuntu/workspace/review_check/app/assets/stylesheets/application.scss */
.content .result .info {
  height: 15%;
  margin: 0;
  position: fixed;
  top: 0;
}
/* line 55, /home/ubuntu/workspace/review_check/app/assets/stylesheets/application.scss */
.content .result .info .image {
  float: left;
  height: 100%;
  margin: 0;
}
/* line 62, /home/ubuntu/workspace/review_check/app/assets/stylesheets/application.scss */
.content .result .info #price {
  color: red;
  font-size: 20px;
}
/* line 67, /home/ubuntu/workspace/review_check/app/assets/stylesheets/application.scss */
.content .result .iframe {
  width: 100%;
  height: 85%;
  position: fixed;
  top: 15%;
}
