<div class='content'>
  <!-- <div id="search-box">
    <%= form_tag('/', method: :get) do %>
        <%= text_field_tag :book, "",  id: "book_search", name: "keyword", placeholder: "キーワードを打ち込んでください", style: "width: 200px;" %><button title="検索" type="submit">検索</button>
    <% end %>
  </div>
  -->
  <% if @item.present? %>
  <div class='result' >
    <a href= <%= @item.detail %> >
    <div class='info'>
    <%= image_tag(@item.image_url ,class:'image') %>
      <p id="name"><%= @item.name %></p>
      <p id="price"><%= @item.price %></p>
    </div>
    </a>
    <iframe src= <%= raw(@item.reviews.split('&amp;').join('&')) %> class='iframe'></iframe>
  </div>
  <% provide :name , @item.name %>
  <% provide :price , @item.price %>
  <% provide :asin , @item.asin %>
  <% provide :image_url , @item.image_url %>
 <% end %>
  

</div>

<!-- <%= @item.name %> -->