<h1>Items#show</h1>
<p>データベースから情報とって表示するページ</p>
<iframe src='https://www.amazon.jp/reviews/iframe?akid=AKIAJ4LBMIHADRWMBP3Q&alinkCode=xm2&asin=B003JOWRZU&atag=h0820-22&exp=2017-12-26T06%3A09%3A41Z&v=2&sig=pMmBo8TS1vMaDTQK1UGIg5%252B729kFQBhP2pNczIQ5Mqo%253D'></iframe>
<iframe src='https://www.amazon.jp/reviews/iframe?akid=AKIAJ4LBMIHADRWMBP3Q&amp;alinkCode=xm2&amp;asin=B01EHJGWSI&amp;atag=h0820-22&amp;exp=2017-12-26T10%3A58%3A24Z&amp;v=2&amp;sig=Yu9UDB0knadn4ZmdVoMaTsalOWTcEfu1NgrRVxPrdr8%253D' />