/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 html{
    height: 100%;
    
    #iteminfo{
     visibility:hidden;
    }
 }
 
 body{
     height:100%;
     margin:0;
 }
 
 .content{
     height:100%;
     margin:0;

     a{
          text-decoration: none;
          color:black;
         }
         
     .result{
         height: 100%;
         margin:0;
         
         p{
          margin:0;
         }
         
         .info{
          height:15%;
          margin:0;
          position:fixed;
          top:0;
          
          #name{
           display: -webkit-box;
           -webkit-box-orient: vertical;
           -webkit-line-clamp: 2;
           overflow: hidden;
          }
         
         
          .image{
              float:left;
              height:100%;
              margin:0;
              
          }
         
          #price{
              color:red;
              font-size:20px;
          }
         }
         .iframe{
          width:100%;
          height:85%;
          position:fixed;
          top:15%;
         }
         
     }
 }
 
 
 
 
