<!DOCTYPE html>
<html>
  <div id="iteminfo"><%= yield :name %>,,<%= yield :price %>,,<%= yield :asin %>,,<%= yield :image_url %></div>
  <head>
    <title>ReviewCheck</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
